@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@import "tailwindcss";

@theme {
  --color-primary: #fdfcf9;
  --color-accent: #b17457;

  --color-light-100: #f4efe8;
  --color-light-200: #e6ddd2;

  --color-gray-100: #6b6b6b;
  --color-dark-100: #2e2a26;

  --font-dm-sans: DM Sans, sans-serif;

  --breakpoint-xs: 480px;

  --background-image-book-pattern: url("/background.jpg");
}

@layer base {
  body {
    font-family: "DM Sans", serif;
    font-optical-sizing: auto;
    background-image: var(--background-image-book-pattern);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: var(--color-dark-100);
  }

  h1 {
    @apply mx-auto max-w-4xl text-center text-5xl font-bold leading-tight tracking-[-1%] text-dark-100 sm:text-[64px] sm:leading-[76px];
  }

  h2 {
    @apply text-2xl font-semibold text-dark-100 sm:text-3xl;
  }

  main {
    @apply min-h-screen relative; /* remove bg-primary */
  }

  header {
    @apply sm:mt-10 mt-5;
  }

  header img {
    @apply w-full max-w-lg h-auto object-contain mx-auto drop-shadow-md;
  }
}

@layer components {
  .background-pattern {
  @apply bg-book-pattern w-full h-screen bg-center bg-cover absolute z-0 opacity-10;
}

  .bookstore-wrapper {
    @apply px-5 py-12 xs:p-10 max-w-7xl mx-auto flex flex-col relative z-10;
  }

  .featured-books {
    @apply mt-20;

    & ul {
      @apply flex flex-row overflow-y-auto gap-5 -mt-10 w-full hide-scrollbar;
    }

    & ul li {
      @apply min-w-[230px] flex flex-row items-center;
    }

    & ul li p {
      @apply book-title mt-[22px] text-nowrap;
    }

    & ul li img {
      @apply w-[127px] h-[163px] rounded-lg object-cover -ml-3.5 shadow-md;
    }
  }

  .book-search {
    @apply w-full bg-light-100/80 px-4 py-3 rounded-lg mt-10 max-w-3xl mx-auto border border-light-200 shadow-sm;

    & div {
      @apply relative flex items-center;
    }

    & img {
      @apply absolute left-2 h-5 w-5 opacity-60;
    }

    & input {
      @apply w-full bg-transparent py-2 sm:pr-10 pl-10 text-base text-dark-100 placeholder-gray-100 outline-hidden;
    }
  }

  .book-catalog {
    @apply space-y-9;

    & ul {
      @apply grid grid-cols-1 gap-5 xs:grid-cols-2 md:grid-cols-3 lg:grid-cols-4;
    }
  }

  .book-item {
    @apply bg-light-100 p-5 rounded-2xl shadow-inner shadow-light-200 hover:shadow-md transition-all duration-200;

    & img {
      @apply rounded-lg h-auto w-full object-cover;
    }

    & h3 {
      @apply text-dark-100 font-bold text-base line-clamp-1;
    }

    & .content {
      @apply mt-2 flex flex-row items-center flex-wrap gap-2;
    }

    & .rating {
      @apply flex flex-row items-center gap-1;
    }

    & .rating img {
      @apply size-4 object-contain;
    }

    & .rating p {
      @apply font-bold text-base text-accent;
    }

    & .content span {
      @apply text-sm text-gray-100;
    }

    & .content .lang {
      @apply capitalize text-gray-100 font-medium text-base;
    }

    & .content .year {
      @apply text-gray-100 font-medium text-base;
    }
  }
}

/* Utilities */
@utility text-gradient {
  @apply bg-linear-to-r from-[#b17457] to-[#d5a27c] bg-clip-text text-transparent;
}

@utility book-title {
  -webkit-text-stroke: 4px rgba(177, 116, 87, 0.3);
  font-size: 150px;
  font-family: "Bebas Neue", sans-serif;
  color: transparent;
}

@utility hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
